%ul.navigation
  %li
    %a{:href => "services.html"} Services
  %li
    %a{:href => "bio.html"} Biography
  %li
    %a{:href => "memberships.html"} Memberships / Judging
  %li
    %a{:href => "lessons.html"} Lessons
  %li
    %a{:href => "performances.html"} Weddings / Parties / Performances
  %li
    %a{:href => "roots.html"} Canadian / Hungarian Roots
  %li
    %a{:href => "contact.html"} Contact
