%ul.navigation
  - [{:link => "services.html", :label => "Services"},
      {:link => "bio.html", :label => "Biography"},
      {:link => "memberships.html", :label => "Memberships / Judging"},
      {:link => "lessons.html", :label => "Lessons"},
      {:link => "performances.html", :label => "Weddings / Parties / Performances"},
      {:link => "roots.html", :label => "Canadian / Hungarian Roots"},
      {:link => "contact.html", :label => "Contact"}].each_with_index do |lnk, i|
    - link_class = current_page.include?(lnk[:link]) ? "current" : ""
    - link_class += " last" if i == 6
    %li{:class => link_class}
      %a{:href => lnk[:link], :class => link_class} #{lnk[:label]}
