%h3 News

%p Ron will be giving a solo performance hosted by The Society of The Cincinnati on October 9th, 2010 from 1:30 - 2:30pm.  The performance will be at the Anderson House at 2118 Massachusettes Ave in Washington DC.
