%h3 News

%h5 Holiday Special

%p Book Ron now for your holiday or New Year's parties!  Buy the musician in your family a 5-pack bundle of lessons and <span class="emphasize">save 10%</span> (applies for existing students as well)!  Offer will be valid through January 15, 2011.

%h5 October 9, 2010

%p
  Ron gave a solo performance hosted by The Society of The Cincinnati.
  %br
  %a.lightbox{ :href => "http://farm6.static.flickr.com/5162/5274900380_0ea52313f6_z_d.jpg", :title => "Ron playing at the Society of The Cincinnati" }
    %img{ :src => "http://farm6.static.flickr.com/5162/5274900380_0ea52313f6_m_d.jpg" }
  %a.lightbox{ :href => "http://farm6.static.flickr.com/5165/5274292535_825419e086_z_d.jpg", :title => "The Society of the Cincinnati buiding" }
    %img{ :src => "http://farm6.static.flickr.com/5165/5274292535_825419e086_m_d.jpg" }
