%h3 Lessons
#lessons
  %p Ron has been teaching the accordion for years. He is a member of the <a href="http://www.mamtg.org/">Mid-Atlantic Accordion Teachers Guild</a>. He is as passionate about imparting his knowledge onto others as he is about performing. Ron teaches accordion lessons across all ages and levels, from beginners to advanced.
  %img{:src => "/images/student_with_award.jpg", :alt => "One of Ron's students showing an award he received"}
  %img{:src => "/images/ron_with_student.jpg", :alt => "Ron giving a lesson"}
  %p Ron's students have won numerous awards and first places in the <a href="http://www.mamtg.org/">MAMTG</a>.
  %p Please <a href="/contact.html">call him</a> for hourly rates.
  %p Ron accompanies his students and their families to both festivals and competitions.
