%h3 Memberships
%p
  Ron is a professional member of:
  %ul
    %li
      %a{:href => "http://www.ameraccord.com"} American Accordionists' Association
    %li
      %a{:href => "http://www.washingtonaccordions.org"} Washington Metropolitan Accordion Society
    %li
      %a{:href => "http://www.aamsaccordionfestival.com"} American Accordion Musicological Society
    %li
      %a{:href => "http://launch.groups.yahoo.com/group/MarylandAccordionClub"} Maryland Accordion Club
    %li
      %a{:href => "http://www.mamtg.org"} Mid-Atlantic Music Teachers Guild
%h3 Judging
%p Ron has been a featured judge at competitions for over 20 years at the American Accordion Musicological Society in Philadelphia, PA. He judges the Junior and Virtuoso Classes. He has been a yearly featured performer there as well.
