%h3 Services
%p
  Ron Onda is an Award winning, classically-trained accordionist who performs at birthdays, anniversaries, retirement communities, Mitzvahs, weddings, cocktail hours, or other events. As a former Canadian Accordion Nation Champion, he has the ability to provide not only consummate musicianship but also personal attention and a music program to suit your occasion. Classical, Spanish, German, Italian, Irish, showtunes, polkas, and popular music flow seamlessly.
