%h3 Lessons
%p Ron has been teaching the accordion for years. He is a member of the <a href="http://www.mamtg.org/">Mid-Atlantic Accordion Teachers Guild</a>. He is as passionate about imparting his knowledge onto others as he is about performing. Ron teaches accordion lessons across all ages and levels, from beginners to advanced.
%p Ron's students have won numerous awards and first places in the <a href="http://www.mamtg.org/">MAMTG</a>.
%p#award
  %img{:src => "/images/student_with_award.jpg", :alt => "One of Ron's students showing an award he received"}
%p Please call him for hourly rates.
%p Ron accompanies his students and their families to both festivals and competitions.
%p
  %img{:src => "/images/ron_with_student.jpg", :alt => "Ron giving a lesson"}
